option_settings:
  # Application Environment
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NPM_USE_PRODUCTION: false
  
  # Instance Configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    
  # Proxy Configuration  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    
  # Static Files
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: dist
    
  # Container Commands
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node server.js"
    ProxyServer: nginx