option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 20

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    AWS_S3_BUCKET_NAME: '#{AWS_S3_BUCKET_NAME}'
    AWS_REGION: '#{AWS_REGION}'
    AWS_ACCESS_KEY_ID: '#{AWS_ACCESS_KEY_ID}'
    AWS_SECRET_ACCESS_KEY: '#{AWS_SECRET_ACCESS_KEY}'