commands:
  01_node_install:
    command: |
      curl --silent --location https://rpm.nodesource.com/setup_18.x | bash -
      yum -y install nodejs
    ignoreErrors: false
    
  02_npm_config:
    command: |
      echo "Setting npm config options..."
      npm config set unsafe-perm true
    ignoreErrors: false
    
container_commands:
  01_npm_install:
    command: "npm install"
    leader_only: true
    
  02_npm_build:
    command: "npm run build"
    leader_only: true