commands:
  01_node_install:
    command: curl --silent --location https://rpm.nodesource.com/setup_18.x | bash -
    ignoreErrors: true
  02_node_install:
    command: yum -y install nodejs
    ignoreErrors: true
  03_npm_install:
    command: npm install
    ignoreErrors: true
  04_npm_build:
    command: npm run build
    ignoreErrors: true